body {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: inter;
  background-color: #F9F4EC; 
    color: black;

    a {
      color:black
    }

  &:has(input[type="checkbox"]:checked) {
    background-color: #201F1F;
    color: white;

    a {
      color: white;
      &:hover {
        color:#EE5626;
     }
    }
  }
 
  a {
    text-decoration: none;

    &:hover {
       color:#EE5626;
    }
 }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

main {
  min-height: 90vh;
}