.section {

   h1 {
      text-align: center;
      font-size: 48px;
   }
   p {
      display: block;
      max-width: 558px;
      font-weight: 300;
      line-height: 36px;
      text-align: justify;
   }
}
