.post {
   margin-top: 15%;
   h1 {
      text-align: center;
   }
   p {
      max-width: 695px;
      text-align: justify;
      font-size: 26px;
      line-height: 42px;
      font-weight: 300;
   }
   .post__nav {
      font-size: 36px;
   }
}